@import "variables";

// col-xl-12 float
@each $size, $w in $sizes {
  @media screen and (min-width: $w) {
    @for $i from 1 through $col {
      .col-#{$size}-#{$i} {
        width: 100% / $col * $i;
        float: left;
        padding: $colp;
      }
    }
  }
}

// flex 版本
@mixin flex-col($i) {
  flex: 0 0 ((100% / 12) * $i);
}