@import "variables";
// layout

// flex-box
// extend mixin 都會掛掉只能一個個刻
@mixin flex-row-center-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@mixin flex-row-space-between-center {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@mixin flex-row-start-center {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
@mixin flex-column-center-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@mixin flex-column-center-baseline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
}
@mixin flex-column-start-center {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
@mixin flex-column-start-space-between {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: space-between;
}

// 清 float
@mixin clearfix() {
  &::after {
    display: block;
    clear: both;
    content: "";
  }
}

// RWD
@mixin pad {
  @media screen and (min-width: 481px) and (max-width: 768px) {
    @content;
  }
}

@mixin mobile {
  @media(max-width: 480px){
    @content;
  }
}

// 字型大小
$font-size-h1: 2.488rem; // 45px
$font-size-h2: 2.074rem; // 37px
$font-size-h3: 1.728rem; // 31px
$font-size-h4: 1.440rem; // 26px
$font-size-h5: 1.2rem; // 22px
$font-size-content: 1rem; // 18px
$font-size-button: 0.833rem; // 15px
$font-size-caption: 0.694rem; // 12px

@mixin font-h1 {
  font-size: $font-size-h1;
  line-height: $font-size-h1 * 1.2;
  letter-spacing: 0.12em;
  font-weight: bold;
}
@mixin font-h2 {
  font-size: $font-size-h2;
  line-height: $font-size-h2 * 1.2;
  letter-spacing: 0.12em;
  font-weight: bold;
}
@mixin font-h3 {
  font-size: $font-size-h3;
  line-height: $font-size-h3 * 1.2;
  letter-spacing: 0.12em;
  font-weight: bold;
}
@mixin font-h4 {
  font-size: $font-size-h4;
  line-height: $font-size-h4 * 1.2;
  letter-spacing: 0.12em;
  font-weight: bold;
}
@mixin font-h5 {
  font-size: $font-size-h5;
  line-height: $font-size-h5 * 1.2;
  letter-spacing: 0.12em;
  font-weight: bold;
}
// 內文
@mixin font-content {
  font-size: $font-size-content;
  line-height: $font-size-content * 1.56;
  letter-spacing: 0.03em;
}
// 一般按鈕
@mixin font-button {
  font-size: $font-size-button;
  line-height: $font-size-button * 1.2;
  letter-spacing: 0.05em;
}
// tag
@mixin font-caption {
  font-size: $font-size-caption;
  line-height: $font-size-caption * 1.2;
  letter-spacing: 0.05em;
  font-weight: bold;
}

// 隱藏過多文字
@mixin ellipsis-text($n) {
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: $n;
  -webkit-box-orient: vertical;
  white-space: normal;
}

// component
@mixin btn {
  @include flex-row-center-center;
  @include font-button;
  border-radius: 63px;
  cursor: default;
}
@mixin btn-tag {
  @include flex-row-start-center;
  @include font-caption;
  border-radius: 21px;
  padding: 4px 10px;
  // cursor: default;
  cursor: pointer;
}

@mixin tags-row {
  @include flex-row-start-center;
  padding: 5px 0;
  > div {
    margin-right: 8px;
  }
}