// @import "helper/variables";
// @import "helper/support";

@mixin btn {
  @include flex-row-center-center;
  @include font-button;
  border-radius: 63px;
  cursor: pointer;
}
@mixin btn-tag {
  @include flex-row-start-center;
  @include font-caption;
  border-radius: 21px;
  padding: 4px 10px;
  cursor: pointer;
}

@mixin tags-row {
  @include flex-row-start-center;
  padding: 5px 0;
  > div {
    margin-right: 8px;
  }
}

// 先用於 header、buttom-m、content
@mixin btn-text {
  @include btn;
  padding: 9px 21px;
}
@mixin btn-icon-text {
  @include btn;
  padding: 9px 21px;
  img {
    width: 14px;
    height: 14px;
    margin-left: 9px;
  }
}
@mixin btn-icon {
  @include btn;
  padding: 10px;
}
@mixin btn-choose {
  @include btn;
  width: 128px;
  @include screen {
    width: 271px;
  }
  align-items: start;
  padding: 8px 12px 8px 16px;
}

@mixin btn-tag-filled {
  @include btn-tag;
  background-color: map-get($primary-color, 600);
  color: map-get($grey-color, 100);
  border: 1px solid map-get($primary-color, 600);
  &:hover {
    background-color: map-get($primary-color, 700);
    border: 1px solid map-get($primary-color, 700);
  }
  &:focus {
    box-shadow: inset 0px 0px 4px map-get($grey-color, 100);
  }
  &:disabled {
    background-color: map-get($grey-color, 300);
    border: 1px solid map-get($grey-color, 300);
  }
  &:visited {
    color: map-get($grey-color, 100);
  }
}

@mixin btn-tag-outline {
  @include btn-tag;
  background-color: map-get($grey-color, 100);
  color: map-get($primary-color, 600);
  border: 1px solid map-get($primary-color, 600);
  &:hover {
    background-color: map-get($primary-color, 200);
    color: map-get($primary-color, 700);
    border: 1px solid map-get($primary-color, 700);
  }
  &:focus {
    background-color: map-get($primary-color, 100);
    box-shadow: inset 0px 0px 4px map-get($grey-color, 100);
  }
  &:disabled {
    background-color: map-get($grey-color, 100);
    color:  map-get($grey-color, 300);
    border: 1px solid map-get($grey-color, 300);
  }
  &:visited {
    color: map-get($primary-color, 600);
  }
}

@mixin btn-filled {
  background-color: map-get($primary-color, 700);
  color: map-get($grey-color, 100);
  border: 1px solid map-get($primary-color, 700);
  div {
    background-color: map-get($grey-color, 100);
    color: map-get($grey-color, 100);
    fill: map-get($grey-color, 100);
  }
  img {
    color: map-get($grey-color, 100);
    fill: map-get($grey-color, 100);
  }
  &:hover {
    background-color: map-get($primary-color, 800);
    border: 1px solid map-get($primary-color, 800);
  }
  &:focus {
    box-shadow: inset 0px 0px 4px map-get($grey-color, 100);
  }
  &:disabled {
    background-color: map-get($grey-color, 300);
    border: 1px solid map-get($grey-color, 300);
  }
  &:visited {
		color: map-get($grey-color, 100);
	}
}
@mixin btn-outline {
  background-color: map-get($grey-color, 100);
  color:  map-get($primary-color, 700);
  border: 1px solid map-get($primary-color, 700);
  svg {
    fill: map-get($primary-color, 700);
  }
  &:hover {
    background-color: map-get($primary-color, 100);
  }
  &:focus {
    background-color: map-get($primary-color, 100);
    box-shadow: inset 0px 0px 5px map-get($primary-color, 500);
  }
  &:disabled {
    background-color: map-get($grey-color, 100);
    color:  map-get($grey-color, 300);
    border: 1px solid map-get($grey-color, 300);
  }
  &:visited {
		color: map-get($primary-color, 700);
	}
}