@import "helper/support";
// 完整卡片
.card {
  padding: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  @include flex-column-center-baseline;
  &.scenicspots {
    border: 1px solid map-get($primary-color, 800);
  }
  &.activities {
    border: 1px solid #09097c;
  }
  &.restaurants {
    border: 1px solid map-get($accent-color, 800);
  }
  &.hotels {
    border: 1px solid map-get($alert-color, 600);
  }
  &.full-card {
    margin-bottom: 15px;
  }
  .card-img {
    width: 100%;
    img {
      width: 100%;
      height: 205px;
      object-fit: cover;
      border-radius: 8px;
    }
  }
  .card-content {
    padding: 5px;
    .card-title {
      @include font-h4;
      @include ellipsis-text(1)
      padding-bottom: 2px;
    }
    .card-stars {
      padding-top: 10px;
      padding-bottom: 5px;
    }
    .card-tags {
      @include tags-row;
    }
    .card-text {
      padding-top: 5px;
      @include ellipsis-text(3)
      @include font-content;
      color: map-get($grey-color, 600);
    }
  }
}

// 鄰近卡片


// 地圖卡片